@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");

body {
  margin: 0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px;
}

h2 {
  color: white;
  font-family: Montserrat;
}

#introduction.text {
  height: 700px;
}

img.preview {
  min-width: 100vw;
}

.text {
  background-color: white;
  padding-bottom: 60px;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  padding-top: 30px;
}

.text p {
  margin-top: 0px;
  padding-left: 20px;
  padding-right:20px;
  font-size: 15px;
  text-align: justify;
  padding-top: 30px;
}

.text img {
  margin-top: 7px;
  width: 100px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 320px 1fr;
  grid-template-rows: 300px 1fr 1fr;
}

.left-card {
  grid-column: 1 / span 1;
  background-color: white
}

.right-card {
  grid-column: 3 / span 1;
  background-color: white;
}

.card-content {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-hover {
  opacity: 0;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


.card-content:hover .card-hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-content:hover .card-hover p {
  position: absolute;
  bottom: 40px;
  text-align: justify;
  font-size: 15px;
  font-family: Montserrat;
  padding-right: 18px;
  padding-left: 18px;
}

.card-content:hover .card-hover img {
  position: absolute;
  height: 70px;
  top: 30px;
/*  margin-bottom: 40px;*/

}

.card-content h1 {
  font-family: Raleway;
  font-size: 60px;
}




/*@media (max-width: 991px) {

 .parallax{
    background-attachment: scroll;
 }

}*/






/*
@media screen and (min-width: 1000px) {
  .mobile {
    visibility: hidden;
    display: none;
  }

  p {
    font-size: 8px;
    text-align: center;
    padding-top: 50px;
  }

}

@media screen and (max-width: 1000px) {
  .pc {
    visibility: hidden;
    display: none;
  }
}
*/

