/* Your banner CSS file */
.banner {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-content {
  justify-content: center;
  text-align: center;
  font-family: Raleway;
  font-weight: 200;

}

.banner h1 {
  border: 3px solid white;
  padding: 20px 20px;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 30px;
  transform:translateX(-50%);
}

span {
  float: right;
}

.intr-link {
  position: absolute;
  bottom: 140px;
  transform:translateX(-50%);
}

/*.problem-link {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

.target-link {
  position: absolute;
  bottom: 50px;
  transform:translateX(-50%);
}

.solution-link {
  position: absolute;
  bottom: 50px;
  right: 20px
}*/

.banner h2 {
  border: 2px solid white;
  padding: 10px 5px;
  font-size: 20px;
  border-radius: 3px;
}
