.btn {
  text-decoration: none;
  text-align: center;
  font-family: Raleway;
  padding: 10px 15px;
  display: flex;
}

.btn-treehouse {
  background-color: red;
  color: white;
  border-radius: 50%;
  align-items: center ;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  box-shadow: 5px 2px 2px black;
}

.btn-treehouse:hover {
  background-color: #A60F19;
}




.btn-white {
  color: white ;
  font-weight: 400;
  border: 3px solid white;
  opacity: 0.8;
  font-size: 50px;
  margin-top: 200px
}

.btn-white:hover {
  color: white;
  opacity: 1;
  background-color: blue;
}


/*.btn-medium {
  border-radius: 3px;
  color: #6077C4 ;
  font-weight: 200;
  border: .8px solid #6077C4;
  position: relative;
}

.btn-medium:hover {
  color: #325DAD;
  border: .8px solid #325DAD;
}
*/

/*
.btn-yours {
  border-radius: 3px;
  color: white ;
  font-weight: 400;
  background-color:#6077C4;
}

.btn-yours:hover {
  color: white;
  background-color: #325DAD;
}
*/

