.btn {
  text-decoration: none;
  text-align: center;
  font-family: Raleway;
  padding: 10px 15px;
  display: flex;
}

.btn-no, .btn-yes {
  color: white;
  border-radius: 50%;
  align-items: center ;
  margin-left: 50px;
  margin-right: auto;
  width: 100px;
  height: 100px;
  box-shadow: 5px 2px 2px black;
  display: inline-block;
}

.btn-no {
  background-color: red;
}

.btn-no:hover {
  background-color: #A60F19;
}

.btn-yes {
  background-color: green;
}

.btn-yes:hover {
  background-color: #006813;
}

.btn-yes h3, .btn-no h3 {
  padding-top: 20px;
}

.btn-white {
  color: white ;
  font-weight: 400;
  border: 3px solid white;
  opacity: 0.8;
  font-size: 50px;
  margin-top: 200px
}

.btn-white:hover {
  color: white;
  opacity: 1;
  background-color: blue;
}
